version: 2.1

orbs:
  node: circleci/node@5.1.0

jobs:
  build-and-test:
    docker:
      - image: cimg/node:18.19
    working_directory: ~/EmployeePaymentsPortal

    steps:
      - checkout

      # Cache node_modules for faster builds
      - restore_cache:
          keys:
            - v1-deps-{{ checksum "package-lock.json" }}
            - v1-deps-

      # Install dependencies for both server and client
      - run:
          name: Install Dependencies
          command: |
            cd server && npm install
            cd ../client && npm install

      - save_cache:
          key: v1-deps-{{ checksum "package-lock.json" }}
          paths:
            - ~/.npm

      # Run basic build/test commands
      - run:
          name: Build and Test Client
          command: |
            cd client
            npm run build
            npm test --if-present

      - run:
          name: Test Server (if applicable)
          command: |
            cd server
            npm test --if-present

      # Run SonarCloud analysis
      - run:
          name: Run SonarCloud Code Analysis
          command: |
            cd ..
            npm install -g sonar-scanner
            sonar-scanner \
              -Dsonar.projectKey=EmployeePaymentsPortal \
              -Dsonar.organization=<your-sonarcloud-org> \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.login=$SONAR_TOKEN

workflows:
  build_and_test_workflow:
    jobs:
      - build-and-test
